/**nav styles**/
.nav-link{
  color: #000000;
}

#mobileNav{
  background-color: #38454f;
}

#mobileNav i{
  color: #ffffff;
}

#mobileMenu{
  height: 45px;
  width: auto;
}

#mobileLogo{
  padding-top: 5px;
}

/**card styles**/
#cardContainer{
  overflow: scroll;
  height: 100vh;
}

.card{
  margin-top: 15px;
  width: 20rem;
}

.card:hover{
  cursor: pointer;
  border: 1px solid #007bff;
}

.card a{
  background-color: #555555;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  border: 1px solid #555555;
}

.card a:hover{
  color: white;
  border: 1px solid #007bff;
}

#closingTime{
  color: #17a2b8;
}

#truckPhone{
  color: #f7941e;
}

/**Map styles**/
#map{
  max-width: 100%;
  height: auto;
}

#initialScreen{
  background-color: #888888;
  height: 100vh;
  padding-top: 50%;
}

/**modal styles**/
#modalOverlay{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#modalContent{
  background-color: #ffffff;
  margin: 5% auto;
  padding: 20px;
  width: 80%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

#closeModal{
  float: right;
  color: #777777;
}

#closeModal:hover{
  cursor: pointer;
  color: #000000;
}

#fullDetailsBtn{
  display: block;
  width: 100%;
  background-color: #555555;
  padding: 5px 0px;
  border-radius: 5px;
  color: white;
  border: 1px solid #555555;
  text-decoration: none;
}

#fullDetailsBtn:hover{
  color: white;
  border: 1px solid #007bff;
}

#placeholderImage{
  max-width: 100%;
  height: auto;
}
